extends layout

block script
  script(type='application/javascript', src='/javascripts/jquery-2.1.0.min.js')
  script(type='application/javascript', src='/javascripts/jquery-ui.min.js');
  script(type='application/javascript', src='/javascripts/colorpicker.js')
  script(type='application/javascript', src='/javascripts/paint.js')
  script(type='application/javascript', src='/socket.io/socket.io.js')

block link
  link(type="text/css", rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
  link(type="text/css", rel='stylesheet', href='/stylesheets/style.css')
  link(type="text/css", rel='stylesheet', href='/stylesheets/colorpicker.css')

block body
  canvas.stamp(id='p0', width='640', height='270')
  canvas.paint(id='p1', width='640', height='270')
  canvas.mouse(id='p2', width='640', height='270')
  canvas.chara(id='p3', width='640', height='270')

  div#tools
    button#clear clear
    button#save save
    button#log log

    div(id='brushsize')

    input(id='cs', type='text', value='#000000', style='color:#FFFFFF;background-color:#000000')

    div(id='brushgroup')
      input(id='brush1', type='radio', name="bg", value="pen", checked)
      label(for='brush1') ペン
      input(id='brush2', type='radio', name="bg", value="eraser")
      label(for='brush2') 消しゴム
      input(id='brush3', type='radio', name="bg", value="spuit")
      label(for='brush3') スポイト
      input(id='brush4', type='radio', name="bg", value="gnh")
      label(for='brush4') 我那覇響
